[submodule "android-proguard-snippets"]
	path = android-proguard-snippets
	url = https://github.com/krschultz/android-proguard-snippets.git
[submodule "app_core"]
	path = app_core
	url = https://github.com/Wingge/app_core.git
[submodule "base_glass"]
	path = base_glass
	url = https://github.com/Wingge/base_glass.git
[submodule "base_mobile"]
	path = base_mobile
	url = https://github.com/Wingge/base_mobile.git
